<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<table th:each="item: ${alamat}">
	<tr> Anda yakin ingin menghapus alamat</tr>
	<tr th:text="${item.Address}"></tr>
	<tr>Anda tidak dapat mengembalikan alamat yang sudah dihapus</tr>
	<tr>
	<td><button onclick="javascript:window.open('/varian/index','_self')">Batal</button></td>
		<td><button th:value="${item.Address}" onclick="del(this.value)">Hapus</button></td>
	</tr>

</table>

<script>
function del(id){
	window.open(/alamat/del/+id)
}

</script>

</html>