<html lang="en" xmlns:th="http://www.thymeleaf.org">


<form th:action="@{~/alamat/save}" th:object="${alamat}" method="post">
<input type="hidden" th:field="*{Id}">
<table class="table table-bordered">
	<tr>
		Label Alamat*
		<input type="text" th:field="*{Label}" class="form-control">
	</tr>
	<tr>
		Nama Penerima*
		<input type="text" th:field="*{Recipient}" class="form-control">
	</tr>
	<tr>
		Nomor HP Penerima*
		<input type="text" th:field="*{Recipient_phone_number}" class="form-control">
	</tr>
		Kecamatan/Kota*
			<select id="loca" th:field="*{Location_id}" class="form-control">
				<option th:each="item : ${location}" th:value="${item.Id}" th:text="${item.Name}">
				</option>
			</select>
	<tr>
	<tr>
		Kode Pos
		<input type="text" th:field="*{Postal_code}" class="form-control">
	</tr>
	<tr>
		Alamat*
		<input type="text" th:field="*{Address}" class="form-control">
	</tr>
		<td colspan="2"><button type="button" onclick="javascript:window.open('/alamat/index','_self')">Batal</button>
						<button type="submit">Simpan</button></td>
	</tr>
</tableclass>
</form>
<script>
$.ajax({
            url : '/location/data',
            type : 'get',
            contentType : 'application/json',
            success:function(result){
                console.log(result)
                var optvar = '';
                for(i=0; i<result.length;i++){
                    optvar += '<option value="'+result[i].id+'">'+result[i].name+'</option>'
                }
                $('#loca').html(optvar)
            }
        })
</script>

</html>