<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<table th:each="item: ${m_biodata_address}">
<tbody>
	<tr> Anda yakin ingin menghapus alamat<br></tr>
	<tr class="card-title" style="color: blue;" th:text="${item.Address}"></tr>
	<br>
	<br>
	<tr>Anda tidak dapat mengembalikan alamat yang sudah dihapus</tr>
	<br>
	<br>
	<tr>
	<td align="center"><button style="margin: 5px;" class="btn btn-primary" onclick="javascript:window.open('/alamat/index','_self')">Batal</button>
		<button class="btn btn-danger" th:value="${item.Id}" onclick="del(this.value)">Hapus</button>
		</td>
	</tr>
</tbody>
</table>

<script>
function del(id){
	window.open('/alamat/del/'+id,'_self')
}

</script>

</html>