<html lang="en" xmlns:th="http://www.thymeleaf.org">


<form th:action="@{~/alamat/save}" th:object="${m_biodata_address}" method="post">
<input type="hidden" th:field="*{Id}">
<table class="table">
	<tr>
		Label Alamat*
		<input type="text" th:field="*{Label_biodata}" class="form-control" required>
	</tr>
	<tr>
		Nama Penerima*
		<input type="text" th:field="*{Recipient}" class="form-control" required>
	</tr>
	<tr>
		Nomor HP Penerima*
		<input type="text" th:field="*{Recipient_phone_number}" class="form-control" required>
	</tr>
		Kecamatan/Kota*
			<select th:field="*{Location_id}" class="form-control">
				<option th:each="item : ${listlocation}" th:value="${item.Id}" th:text="${item.Name}" required>
				</option>
			</select>
	<tr>
	<tr>
		Kode Pos
		<input type="text" th:field="*{Postal_code}" class="form-control">
	</tr>
	<tr>
		Alamat*<br>
		<textarea th:field="*{Address}" rows="5" cols="45" required></textarea>
	</tr>
		<td colspan="2"><button class="btn btn-primary-outline" type="button" onclick="javascript:window.open('/alamat/index','_self')">Batal</button>
						<button class="btn btn-primary" type="submit">Simpan</button></td>
	</tr>
</tableclass>
</form>
<script>

</script>

</html>