<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/alamatlayout}">
<head>
	<title>Alamat</title>
</head>
<body>
<div layout:fragment="content">
<p>Urutkan
<select class="form-control">
	<option onclick="urut(this.value)" th:each="item: ${listalamat}" th:value="${item.Label_biodata}" th:text="${item.Label_biodata}"></option>
	</select>
</p>
<p>

	<input type="text" placeholder="Alamat atau nama penerima">
	<button class="btn btn-primary" type="submit">Search</button>		

</p>
<p>
	<button onclick="addform()" class="btn btn-primary">+ Tambah</button>
	<button onclick="multidalate($(".delCheck").val())" class="btn btn-success">Hapus</button>
</p>

<table class="table" width="100%">
<tbody id="itemalamat">
	<tr th:each="item, iter: ${listalamat}">
		<td><input type="checkbox" th:value="${item.Id}" class="delCheck"></td>
		<td class="card-title" style="color: #009bff" th:text="${item.Label_biodata}"></td>
		<td class="card-title" style="color: #009bff" th:text="${item.Recipient}"></td>
		<td class="card-title" style="color: #009bff" th:text="${item.Recipient_phone_number}"></td>
		<td class="card-title" style="color: #009bff" th:text="${item.Address}"></td>
		<td><button th:value="${item.Id}" onclick="editform(this.value)" class="btn btn-labeled btn-primary">
			   <span class="btn-label"><i class="fa fa-pencil"></i></span>
			</button>
			   <button th:value="${item.Id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
			   <span class="btn-label"><i class="fa fa-trash"></i></span>
			</button>
		</td>
	</tr>
</tbody>
</table>
<script>
function multidel(id){
	$.ajax({
		url:'/api/bioalamat/'+id,
		type:'get',
		contentType:'application/json',
		success:function(result){
			console.log(result)                   
        var ids ="";
        for(i=0;i<result.length;i++){
		if($('.delCheck:checked')){
			ids += '<tr> Anda yakin ingin menghapus alamat<br></tr>'
			ids += '<tr class="card-title" style="color: blue;" th:text="'+result[i].address+'"></tr>'
			ids += '<br><br>'
			ids += '<tr>Anda tidak dapat mengembalikan alamat yang sudah dihapus</tr><br><br><tr>'
			ids += '<td align="center"><button style="margin: 5px;" class="btn btn-primary" onclick="javascript:window.open(\'/alamat/index','_self\')">Batal</button>'
			ids += '<button class="btn btn-danger" th:value="${item.Id}" onclick="del('+result[i].id+')">Hapus</button>'
			ids += '</td></tr>'
			}
		}
        $("#mymodal").modal('show')
        $(".modal-title").html('Hapus Alamat')
        $(".modal-body").html(ids)
        }
	})
}

function addform(){
	$.ajax({
		url:'/alamat/form',
		type:'get',
		contentType:'html',
		success:function(result){
			console.log(result)
			$("#mymodal").modal('show')
			$(".modal-title").html('Transaksi')
			$(".modal-body").html(result)
		}
	})
}

function deleteform(id){
	$.ajax({
		url:'/alamat/delete/'+id,
		type:'get',
		contentType:'html',
		success:function(result){
			console.log(result)
			$("#mymodal").modal('show')
			$(".modal-title").html('Hapus Alamat')
			$(".modal-body").html(result)
		}
	})
}
function editform(id){
	$.ajax({
		url:'/alamat/editform/'+id,
		type:'get',
		contentType:'html',
		success:function(result){
			console.log(result)
			$("#mymodal").modal('show')
			$(".modal-title").html('Ubah Alamat')
			$(".modal-body").html(result)
		}
	})
}

function urut(label){
	$.ajax({
		url:'/api/alamat/'+label,
		type:'get',
		contentType:'application/json',
		success:function(result){
		console.log(result)
		var str ="";
		for(i=0;i<result.length;i++){
			str +='<tr>'
			str +='<td> <input type="checkbox" th:checked="'+result[i].id+'"></td>'
			str +='<td class="card-title" style="color: #009bff" th:text="'+result[i].label_biodata+'"></td>'
			str +='<td class="card-title" style="color: #009bff">'+result[i].recipient+'</td>'
			str +='<td class="card-title" style="color: #009bff">'+result[i].recipient_phone_number+'</td>'
			str +='<td class="card-title" style="color: #009bff">'+result[i].address+'</td>'
			str +='<td><button th:value="'+result[i].id+'" onclick="editform('+result[i].id+')" class="btn btn-labeled btn-primary"> <span class="btn-label"> <i class="fa fa-pencil"> </i> </span> </button>'
			str +='<td><button th:value="'+result[i].id+'" onclick="deleteform('+result[i].id+')" class="btn btn-labeled btn-danger"> <span class="btn-label"> <i class="fa fa-trash"> </i> </span> Delete</button>'
		}
		$('#itemalamat').html(str)
		console.log(str)
			str='<tr>'
		}
	})
}

</script>
</div>


</body>
</html>