<html lang="en" xmlns:th="http:/www.thymeleaf.org">


<table th:each="item: ${users}">
	<tr>
		<td>E-mail</td>
		<td th:text="${item.Email}"></td>
	</tr>
	<tr>
		<td>Username</td>
		<td th:text="${item.UserName}"></td>
	</tr>
	<tr>
		<td>FullName</td>
		<td th:text="${item.FullName}"></td>
	</tr>
	<tr>
		<td><button onclick="javascript:window.open('/users/index','_self')">Cancel</button></td>
		<td><button th:value="${item.Id}" onclick="del(this.value)">Delete</button></td>
	</tr>
</table>

<script>
	function del(id){
	window.open('/users/del/'+id)
}
</script>

</html>