<html lang="en" xmlns : th = "http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">
<head>
<title>POS289::User</title>
</head>
<body>

<div layout:fragment="content">
<h1>User Page</h1>
<p align="right">
<button onclick="addform(this.value)" class="btn btn-outline-success"> + Tambah User</button>
</p>
<table class="table table-success table-striped">
<thead>
<tr  align="middle">
<th>#</th>
<th>Email</th>
<th>Username</th>
<th>Password</th>
<th>Full Name</th>
<th>Photo</th>
<th>Action</th>
</tr>

</thead>
<tbody>
<tr th:each = "item, iter : ${listuser}"  align="middle">
<td th:text="${iter.count}"> </td>
<td th:text="${item.Email}"> </td>
<td th:text="${item.UserName}"> </td>
<td th:text="${item.Password}"> </td>
<td th:text="${item.FullName}"> </td>
<!-- td><img th:src="@{${'/images/'}}"></td-->
<!--td><img th:src="@{${'/images/'+item.photo}}" target="blank"></td-->
<td>
	<button class="btn btn-outline" onclick="openimage(this.value)" th:value="${item.id}">
	<img th:src="@{${'/images/' + item.photo}}" height="50"></button>
</td>
<td>

<button th:value="${item.Id}" onclick="delform(this.value)" class="btn btn-labeled btn-outline-danger">
<span class="btn-label">
<i class="fa fa-trash">
</i></span> Delete</button>
</td>
</tr>
</tbody>
</table>
<script>
function delform(id){
	$.ajax({
		url : '/users/delete/'+id,
		type : 'get',
		contentType:'html',
		success:function(result){
		$("#mymodal").modal('show')
		$(".modal-title").html('Hapus data User')
		$(".modal-body").html(result)
		}
		
	})
}

function addform(){
$.ajax({
url:'/users/form',
type: 'get',
contentType:'html',
success:function(result){
console.log(result)
$("#mymodal").modal('show')
$(".modal-title").html('Tambah Users')
$(".modal-body").html(result)
}
})
}

function openimage(id){
	$.ajax({
		url:'getuser/'+id,
		type : 'get',
		contentType : 'html',
		success : function(result){
			$('#mymodal').modal('show')
			$('.modal-title').html('Show photo')
			$('.modal-body').html(result)
		}
	})
}
</script>
</div>


</body>
</html>