<html lang="en" xmlns:th="http://www.thymeleaf.org">


<form th:action="@{~/users/setsignup}" th:object="${biodata}" method="post">
<input type="hidden" th:field="*{Id}">
<table class="table table-boarderless">
	<tr>
	<td colspan="2">
	Nama Lengkap*
	</td>
	<td>
	<input type="text" th:field="*{Fullname}" class="form-control" required>
	</td>
	</tr>
	<tr>
	<td>Nomor Handphone</td>
	<td>
	<button disabled>+62</button>
	<input type="text" th:field="*{Mobile_phone}"  class="form-control">
	</tr>
	</form>
	<tr>
	<td>Daftar Sebagai</td>
	<td>
	<form th:action="@{~/users/setsignup}" th:object="${user}" method="post">
		<select  th:field="*{Role_id}"class="form-control">
			<option th:each="item : ${role}" th:value="${item.Id}" th:text="${item.Name}">
			</option>
		</select>	
	</form>
	</td>
	</tr>
	<tr>
	<td colspan="2" align="middle">
	<button type="submit">Daftar</button>
	</td>
	</tr>
</table>

<script>
</script>

</html>