<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>Bank</title>
</head>
<body>

<div layout:fragment="content">
<h1>Welcome + User</h1>

<p align="right">
	<button onclick="addform()" class="btn btn-success">+ Transfer</button>
</p>

<table class="table" width="100%">
<thead>
	<tr>
		<th>#</th>
		<th>Jenis Bank</th>
		<th>Jumlah Uang</th>
		<th>Name</th>
		<th>No Rek</th>
		<th>Date</th>
		<th>Keterangan</th>
	</tr>
</thead>
<tbody>
	<tr th:each="item, iter: ${listtrans}">
		<td th:text="${iter.count}"></td>
		<td th:text="${item.jenis_bank}"></td>
		<td th:text="${item.jumlah}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.norek}"></td>
		<td th:text="${item.date}"></td>
		<td th:text="${item.keterangan}"></td>
	</tr>
</tbody>
</table>

<script>
function addform(){
	$.ajax({
		url:'/transaksi/form',
		type:'get',
		contentType:'html',
		success:function(result){
			console.log(result)
			$("#mymodal").modal('show')
			$(".modal-title").html('Transaksi')
			$(".modal-body").html(result)
		}
	})
}
</script>
</div>


</body>
</html>